:local(.header) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 234, 0);

  h1 {
    position: relative;
    top: 10px;
  }

  li {
    list-style: none;
    margin-right: 50px;
  }
  
  img {
    width: 300px;
  }
}
